body {
  margin-bottom: 5rem;
  background-color: rgb(230, 228, 228);
}

ul li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

ul li a {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  margin-left: -2.2rem;
}

ul li a:hover {
  color: #6e6d7a;
}

a{
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: black;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 5rem;
}

.header nav li {
  margin: 0 2rem;
}

.header nav a {
  color: #fff;
  font-size: 1rem;
  margin-left: 2rem;
  text-decoration: none;
}
.header nav a:hover {
  color: #6e6d7a;
  text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.content-container {
  margin-top: 10rem;
  margin-left: 5rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: row;
}

.calculators,
.passwordConvertor,
.uuidGenerator {
  width: 30%;
}

#logo {
  width: 3rem;
  height: 3rem;
  margin-top: 6px;
}

/* Add a responsive design for screens smaller than 500px */
@media screen and (max-width: 900px) {
  .header {
    flex-direction: column;
  }

  .header nav ul {
    flex-direction: column;
    padding: 2px;
  }

  #logo {
    margin-right: 5rem;
  }

  .content-container {
    margin-top: 13rem;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
  }

  .calculators,
  .passwordConvertor,
  .uuidGenerator {
    width: 100%;
  }

  .percentage-calculators,
  .financial-calculators,
  .time-calculators {
    width: 100%;
  }
  input[type="submit"],
  button {
    background-color: #333;
    border: none;
    color: white;
  }
}

#headings {
  color: #333;
  font-size: 1.5rem;
  font-weight:400;
  word-spacing: 5px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.date {
  padding: 10px;
  border-radius: 5px;
  margin-left: 1rem;
  margin-right: 1rem;
}

#to {
  font-size: 1.5rem;
}

.add{
  height: 10rem;
  margin: 3rem;
  text-align: center;
  color: black;
}

.small-add{
  height: 5rem;
  text-align: center;
  color: black;
  width: 100%;
  margin: 2rem;
  margin-right: 1rem;
}